<div class="container-fluid">

<kendo-grid
[data]="gridView" 
[pageSize]="pageSize"
[skip]="skip"
[scrollable]="'none'"
[columnMenu]="true"
[filter]="state.filter"
[filterable]="true"
[sortable]="true"
[pageable]="true"
(dataStateChange)="dataStateChange($event)"
(pageChange)="pageChange($event)"
>

<kendo-grid-column field="productId" title="Product" class="width130px" media="md">
    <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.product?.name}}
    </ng-template>
</kendo-grid-column>

<kendo-grid-column field="userId" title="User" class="width130px" media="md">
    <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.user?.fullName}}
    </ng-template>
</kendo-grid-column>

<kendo-grid-column field="numberOfItems" title="Number Of Items" class="width130px" media="md">
</kendo-grid-column>

<kendo-grid-column field="totalAmount" title="Total Amount" class="width130px" media="md">
    <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.totalAmount}}$
    </ng-template>
</kendo-grid-column>

</kendo-grid>
</div>
