<kendo-appbar [position]="'top'">
  <kendo-appbar-section>
      <button class="k-button k-button-clear">
          <kendo-icon [name]="'menu'"></kendo-icon>
      </button>
  </kendo-appbar-section>

  <kendo-appbar-section>
      <h1 class="title">Electronics Shop</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer [width]="'32px'"></kendo-appbar-spacer>

  <kendo-appbar-section>
      <ul>
          <li><span><a class="btn btn-light" routerLink="/product" routerLinkActive="active">Products</a></span></li>
          <li><span><a class="btn btn-light" routerLink="/category" routerLinkActive="active">Categories</a></span></li>
          <li><span><a class="btn btn-light" routerLink="/user" routerLinkActive="active">Users</a></span></li>
          <li><span><a class="btn btn-light" routerLink="/order" routerLinkActive="active">Orders</a></span></li>
      </ul>
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-appbar-section class="actions">
    <ul>
        <li><span><a class="btn btn-dark" routerLink="/user/register" routerLinkActive="active">Register</a></span></li>
        <li><span><a class="btn btn-primary" routerLink="/user/login" routerLinkActive="active">Login</a></span></li>
    </ul>
      <kendo-badge-container>
          <button class="k-button k-button-clear">
              <kendo-icon [name]="'bell'"></kendo-icon>
          </button>
          <kendo-badge [shape]="'dot'" [themeColor]="'warning'" [size]="'small'" [position]="'inside'"></kendo-badge>
      </kendo-badge-container>
      <span class="k-appbar-separator"></span>
  </kendo-appbar-section>

  <kendo-appbar-section>
      <kendo-avatar [imageSrc]="kendokaAvatar" [shape]="'circle'" [width]="'26px'" [height]="'26px'"></kendo-avatar>
  </kendo-appbar-section>
</kendo-appbar>



  <router-outlet></router-outlet>

