<div class="container-fluid">

    <section class="editor-section">
        <form role="form" [formGroup]="editorForm">

            <!-- UserName -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label>User Name</label>
                    <div class="detail w-100">
                        <input type="text" class="form-control" #userName 
                        formControlName="userName">
                
                        <div class="text-danger" 
                        *ngIf="(editorForm.controls['userName'].hasError('required' ) )&&
                                   (editorForm.controls['userName'].touched || 
                                    editorForm.controls['userName'].dirty)">
                            required field.
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <!-- Password -->
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <div class="detail w-100">
                        <input type="password"  class="form-control" #password 
                        formControlName="password">
                
                        <!-- <label *ngIf="editorMode == editorModeEnum.detail"
                            class="form-control">{{itemModel?.password}}</label> -->
                
                        <div class="text-danger" 
                        *ngIf="(editorForm.controls['password'].hasError('required' ) )&&
                                   (editorForm.controls['password'].touched || 
                                    editorForm.controls['password'].dirty)">
                            required field.
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>          


            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <button type="submit" (click)="save()"
                        [disabled]="!editorForm.valid || isProccessing" class="btn btn-primary">
                        Login
                    </button>
                </div>
                <div class="col-md-4"></div>
            </div>

        </form>
    </section>
</div>
